.mainContainer{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    display: block;
  }
}
