button{
  margin-right: 10px;
  color: black;
  font-weight: 400;
}
.headerContainer{
  background-color: #f5f6f7;
}

.filterButton::after {
  display:none;
}

.navbar{
  background-color: #f5f6f7;
}

.campaginsButton{
  background-color: #f5f6f7;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
}

.filterButton {
  border: none;
  background-color: #f5f6f7;
}

.navbar-collapse{
  flex-grow: 0;
}

.spacer{
  flex-grow: 1;
}

.filterText{
  margin-left: 5px;
}

.navbar-collapse{
  overflow: auto;
}

.dropdown-menu{
  width: 300px;
}

ul{
  list-style-type: none;
}

@media screen and (max-width: 995px) {
  .buttonDropDown{
    display: none;
  }
}
@media screen and (min-width: 995px) {
  .smallScreenList{
    display: none;
  }
}
