<div class="headerContainer">
  <nav class="navbar navbar-expand-lg navbar-light bg-light contentContainer">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <button class="btn campaginsButton dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All campaigns
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="filterCardsByCampaginId('all')">All</a>
            <a class="dropdown-item" *ngFor="let campaign of campaigns" (click)="filterCardsByCampaginId(campaign.id)">{{campaign.campaignName}}</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContents">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle filterButton" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-filter"></i> <span class="filterText">Pending</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" (click)="filterCardsByStatus('all')" >All</a>
            <a class="dropdown-item" *ngFor="let filter of filters" (click)="filterCardsByStatus(filter)">{{filter}}</a>
          </div>
        </li>
      </ul>
    </div>
    <span class="spacer"></span>
    <app-search></app-search>
    <app-calendar></app-calendar>
  </nav>
</div>
